In [ ]:
CREATE TABLE IF NOT EXISTS mikedroog.kafka.timestamp_log (inserted_at TIMESTAMP);

In [ ]:
-- Block 2: Insert current timestamp
INSERT INTO mikedroog.kafka.timestamp_log VALUES (CURRENT_TIMESTAMP);

In [ ]:
SELECT * FROM mikedroog.kafka.timestamp_log

In [ ]:
SELECT inserted_at FROM mikedroog.kafka.timestamp_log